<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <attribution
        android:label="@string/recording_label"
        android:tag="recording_tag" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GamesPlatform">

        <service android:name=".services.AudioService" />

        <activity
            android:name=".screens.RecordingActivity"
            android:exported="false" />
        <activity
            android:name=".screens.PianoActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LeaderBordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ShopActivity"
            android:exported="false"
            android:theme="@style/Theme.GamesPlatform" />
        <activity
            android:name=".screens.SnakeGameActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LandingActivity"
            android:exported="false" />
        <activity
            android:name=".screens.CarEscapeActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MyGroupActivity"
            android:exported="false" />
        <activity
            android:name=".screens.BearRunner"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPageActivity"
            android:exported="false" />
        <activity
            android:name=".screens.GroupsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.PlayerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>